<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<style type="text/css"></style>
	</head>
	<body>
		<h1>Welcome to example.com, <%= user.name %></h1>
		<p>
      You have successfully signed up to example.com,
      your username is: <%= user.username %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: devpointlabs.com.
    </p>
    <p>Thanks for joining and have a great day!</p>
	</body>
</html>