@import "materialize/components/color";
$secondary-color: color("light-green", "accent-4") !default;
@import 'materialize';
@import 'main';

html, body {
	height: 100%;
  background: #D8F7FF;
  font-family: 'Pavanam', sans-serif;
  font-family: 'Amiko', sans-serif;
}

#editorContainer {
  width: 100%;
  height: 40vh;
  position: relative;
  padding-left: 10px;
}

#sandboxEditorContainer {
  width: 100%;
  height: 50vh;
  position: relative;
  padding-left: 10px;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#app {
  min-height: 100%;
}

.container {
  width: 80%;
}

.container .row {
  margin-left: auto;
  margin-right: auto;
}

.card .classesStats {
  min-height: 20vh;
}



.lesson-card {
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}

.row.lesson-row {
  margin-bottom: 0px;
}

@media only screen and (max-width: 450px) {

   .lesson-title { font-size: 1.5em; }
   .lessons-title { font-size: 0.7em; }

}


@media only screen and (max-width: 600px) {

  .lesson-title { font-size: 2em; }

}


@media only screen and (max-width: 700px) {

  .lessons-title { font-size: 1.8em; }

}

#signup-img, #login-img, #signup-landing {
  width: 100%;
  height: auto;
  background-image: url("http://res.cloudinary.com/di0vizmtw/image/upload/c_scale,w_2000/v1469038958/update_w2kusb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; 
}

#exercises-bckgnd {
  background: rgba(233,49,237,.5); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(19,105,255,.3), rgba(233,49,237,.5)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(19,105,255,.3), rgba(233,49,237,.5)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(19,105,255,.3), rgba(233,49,237,.5)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(19,105,255,.3), rgba(233,49,237,.5));
}


#lesson-bckgnd {
  background: rgba(233,49,237,.5); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(233,49,237,.5), rgba(255,117,19,.6)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(233,49,237,.5), rgba(255,117,19,.6)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(233,49,237,.5), rgba(255,117,19,.6)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(233,49,237,.5), rgba(255,117,19,.6));
}
